---
import AddGoodPopupTableChars from "./AddGoodPopupTableChars.astro";
---

<div class="popup add-good-popup" x-bind:class="{'active': addGoodPopup === true}" x-data="{table: 1}">
    <form action="#" method="post" class="popup__form add-good-popup__form">
    <div class="popup__content add-good-popup__content">
  <div class="popup__top-row add-good-popup__top-row">
    <button class="popup__close-btn mobile" type="button" x-on:click="addGoodPopup = false">
      <svg class="popup__close-btn-icon" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L13 1" stroke="#869AB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>                  
  </button>
    <button class="popup__close-btn desktop" type="button" x-on:click="addGoodPopup = false">
        <svg class="popup__close-btn-icon" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.53333 1L1 9.53333M1 1L9.53333 9.53333" stroke="#869AB8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>            
    </button>
    <h2 class="popup__title add-good-popup__title">
        Добавление товара
    </h2>
   </div>
   <ul role="list" class="site-section__table-tabs add-good-popup__table-tabs">
    <li class="site-section__table-tabs-item add-good-popup__table-tabs-item">
        <button type="button" class="site-section__table-tabs-item-btn add-good-popup__table-tabs-item-btn active" x-on:click="table = 1" x-bind:class="{'active': table === 1}">
            Общие
        </button>
    </li><li class="site-section__table-tabs-item add-good-popup__table-tabs-item">
        <button type="button" class="site-section__table-tabs-item-btn add-good-popup__table-tabs-item-btn" x-on:click="table = 2" x-bind:class="{'active': table === 2}">
            Характеристики
        </button>
    </li>
   </ul>
    <div class="popup__body add-good-popup__body" x-data="dropInputFiler">
        <div class="add-good-popup__body-wrapper overall" x-show="table === 1">
            <fieldset class="add-good-popup__fieldset">
                <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Тип товара
                    </p>
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Не указано'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                        <input type="text" class="add-good-popup__form-control-select-result-input" value="Не указано" readonly x-model="resultInputVal">
                        <div class="add-good-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                        <ul role="list" class="add-good-popup__form-control-select-list">
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" value="Не указано" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Не указано'">
                          </li>
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" value="Товар 1" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Товар 1'">
                          </li>
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" value="Товар 2" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Товар 2'">
                          </li>
                        </ul>
                        </div>
                        <svg class="add-good-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                          <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>                  
                      </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Наименование
                    </p>
                        <div class="add-good-popup__form-control-group-name-inputs-group-wrapper">
                       <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper name-input">
                        <input  class="add-good-popup__form-control-group-name-input" x-mask="9999" placeholder="ХХХХ">
                        -
                        <input  class="add-good-popup__form-control-group-name-input" placeholder="ХХХ" x-mask="999">
                       </div> 
                       <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper name-input">
                        <div class="add-good-popup__form-control-group-name-input-wrapper">
                        (

                        <input class="add-good-popup__form-control-group-name-input" placeholder="ХХХX" x-mask="9999">

                        )
                       </div>
                        -
                        <div class="add-good-popup__form-control-group-name-input-wrapper">

                        (
                        <input class="add-good-popup__form-control-group-name-input" placeholder="ХХХX" x-mask="9999">

                        )
                        </div>
                       </div> 
                      </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Категория
                    </p>
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Не указано'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                        <input type="text" class="add-good-popup__form-control-select-result-input" value="Не указано" readonly x-model="resultInputVal">
                        <div class="add-good-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                        <ul role="list" class="add-good-popup__form-control-select-list">
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" value="На согласовании" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Не указано'">
                          </li>
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Категория 1'">
                          </li>
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" value="Завершён" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Категория 2'">
                          </li>
                        </ul>
                        </div>
                        <svg class="add-good-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                          <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>                  
                      </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Артикул
                    </p>
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper">
                        <input type="number" class="add-good-popup__form-control-group-name-input" placeholder="Введите код">
                    </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Габариты ДхШхВ (см)
                    </p>
                    <div class="add-good-popup__form-control-group-dimensions-inputs-wrapper" x-data="{lengthInputVal: null, widthInputVal: null, heightInputVal: null, mulValue: null}" x-effect="mulValue = lengthInputVal * widthInputVal * heightInputVal">
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper dimensions-input">
                        <input type="number" class="add-good-popup__form-control-group-input" x-model="lengthInputVal">
                    </div>
                    <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.75 1L1.75 9M1.75 1L9.75 9" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper dimensions-input">
                        <input type="number" class="add-good-popup__form-control-group-input" x-model="widthInputVal">
                    </div>
                    <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.75 1L1.75 9M1.75 1L9.75 9" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper dimensions-input">
                        <input type="number" class="add-good-popup__form-control-group-input" x-model="heightInputVal">
                    </div>
                    <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.25 1H15.25M1.25 7H15.25" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>   
                        <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper dimensions-input">
                            <input readonly class="add-good-popup__form-control-group-input" x-model="mulValue">
                        </div>
                        <span class="add-good-popup__dimensions-type-text">м<sup>2</sup></span>                     
                   </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Вес (кг)
                    </p>
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-input-wrapper weight-input-wrapper">
                        <input type="number" class="add-good-popup__form-control-group-input" placeholder="0 000, 00">
                    </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Тип цены
                    </p>
                    <div class="add-good-popup__form-control-wrapper add-good-popup__form-control-select-wrapper" x-data="{toggleArrow: true, toggleSelectList: true, resultInputVal: 'Розничная'}" x-on:click="toggleArrow = !toggleArrow;toggleSelectList = !toggleSelectList" x-on:click.outside="toggleArrow = false;toggleSelectList = false">
                        <input type="text" class="add-good-popup__form-control-select-result-input" value="Розничная" readonly x-model="resultInputVal">
                        <div class="add-good-popup__form-control-dropdown" x-bind:class="{'active': toggleSelectList === true}">
                        <ul role="list" class="add-good-popup__form-control-select-list">
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" value="Розничная" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Розничная'">
                          </li>
                          <li class="add-good-popup__form-control-select-list-item">
                            <input type="text" readonly class="add-good-popup__form-control-select-list-item-input" x-on:click="resultInputVal = 'Оптовая'">
                          </li>
                        </ul>
                        </div>
                        <svg class="add-good-popup__form-control-select-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg" x-bind:class="{'active': toggleArrow === true}">
                          <path d="M1 1L7 7L13 1" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>                  
                      </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Описание
                    </p>
                    <textarea class="add-good-popup__form-control-group-textarea" placeholder="Введите описание"></textarea>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Файлы
                    </p>
                    <ul role="list" class="site-section__attach-files-list add-good-popup__attach-files-list">
                    </ul>
                    <div class="add-good-popup__attach-files-btn-wrapper">
                    <button type="button" class="btn btn--secondary site-section__attach-files-btn add-good-popup__attach-files-btn">
                        <input class="site-section__attach-files-input add-good-popup__attach-files-input" type="file" name="attachFiles" id="attachFiles" multiple x-on:change="handleFiles">
                        <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.9998 4.66632L4.66647 8.99965C4.40125 9.26487 4.25226 9.62458 4.25226 9.99965C4.25226 10.3747 4.40125 10.7344 4.66647 10.9997C4.93169 11.2649 5.2914 11.4139 5.66647 11.4139C6.04154 11.4139 6.40125 11.2649 6.66647 10.9997L10.9998 6.66632C11.5302 6.13588 11.8282 5.41646 11.8282 4.66632C11.8282 3.91617 11.5302 3.19675 10.9998 2.66632C10.4694 2.13588 9.74995 1.83789 8.9998 1.83789C8.24966 1.83789 7.53024 2.13588 6.9998 2.66632L2.66647 6.99965C1.87082 7.7953 1.42383 8.87443 1.42383 9.99965C1.42383 11.1249 1.87082 12.204 2.66647 12.9997C3.46212 13.7953 4.54125 14.2423 5.66647 14.2423C6.79169 14.2423 7.87082 13.7953 8.66647 12.9997L12.9998 8.66632" stroke="#7C69EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Прикрепить файлы              
                      </button>
                      <button type="button" class="btn btn--secondary site-section__add-server-files-btn add-good-popup__add-server-files-btn">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.00016 1.33203V10.6654M1.3335 5.9987H10.6668" stroke="#7C69EF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>  
                            Загрузить с сервера                  
                      </button>
                    </div>
                 </div>
                 <div class="add-good-popup__form-control-group">
                    <p class="add-good-popup__form-control-group-title">
                        Теги
                    </p>
                    <ul role="list" class="popup__tags-list add-good-popup__tags-list" x-ref="popupTagsList">
                    </ul>
                    <div class="popup__add-tags-btn-wrapper add-good-popup__add-tags-btn-wrapper" x-data="{toggleDropdown: false }">
                    <button type="button" class="popup__add-tags-btn add-good-popup__add-tags-btn" x-on:click="toggleDropdown = !toggleDropdown">Добавить тег</button>
                    <div class="popup__add-tags-dropdown add-good-popup__add-tags-dropdown" x-bind:class="{'active': toggleDropdown === true }">
                       <ul role="list" class="popup__add-tags-dropdown-list add-good-popup__add-tags-dropdown-list">
                          <li class="popup__add-tags-dropdown-list-item add-good-popup__add-tags-dropdown-list-item">
                            <input type="text" class="popup__add-tags-dropdown-list-item-input add-good-popup__add-tags-dropdown-list-item-input" readonly value="CEO" x-on:click='toggleDropdown = false;  
                            $refs.popupTagsList.insertAdjacentHTML("beforeEnd", 
                            `<li class="popup__tags-list-item add-good-popup__tags-list-item">
                               <button type="button" class="popup__tags-list-item-btn add-good-popup__tags-list-item-btn">
                                   СЕО
                               </button>
                           </li>`)
                            '>
                          </li>
                          <li class="popup__add-tags-dropdown-list-item add-good-popup__add-tags-dropdown-list-item">
                           <input type="text" class="popup__add-tags-dropdown-list-item-input add-good-popup__add-tags-dropdown-list-item-input" readonly value="Дизайн" x-on:click='toggleDropdown = false;  
                           $refs.popupTagsList.insertAdjacentHTML("beforeEnd", 
                           `<li class="popup__tags-list-item add-good-popup__tags-list-item">
                              <button type="button" class="popup__tags-list-item-btn add-good-popup__tags-list-item-btn">
                               Дизайн
                              </button>
                          </li>`)
                           '>
                         </li>
                         <li class="popup__add-tags-dropdown-list-item add-good-popup__add-tags-dropdown-list-item">
                           <input type="text" class="popup__add-tags-dropdown-list-item-input add-good-popup__add-tags-dropdown-list-item-input" readonly value="Проектировка" x-on:click='toggleDropdown = false;  
                           $refs.popupTagsList.insertAdjacentHTML("beforeEnd", 
                           `<li class="popup__tags-list-item add-good-popup__tags-list-item">
                              <button type="button" class="popup__tags-list-item-btn add-good-popup__tags-list-item-btn">
                               Проектировка
                              </button>
                          </li>`)
                           '>
                         </li>
                       </ul>
                       <input type="text" class="popup__add-tags-dropdown-search-input add-good-popup__add-tags-dropdown-search-input">
                   </div>
                    </div>
                 </div>
            </fieldset>
        </div>
        <div class="add-good-popup__body-wrapper chars" x-show="table === 2" x-data="{triggerInputVal: false, lists: []}">
            <fieldset class="add-good-popup__fieldset">
                <div class="add-good-popup__chars-checkboxes-wrapper">
                <div class="add-good-popup__chars-checkbox-wrapper">
                    <input type="checkbox" class="add-good-popup__chars-checkbox" id="charsUsage">
                    <label for="charsUsage" class="add-good-popup__chars-checkbox-label">Использование характеристики</label>
                </div>
                <div class="add-good-popup__chars-checkbox-wrapper">
                    <input type="checkbox" class="add-good-popup__chars-checkbox" id="requiredCharsFill">
                    <label for="requiredCharsFill" class="add-good-popup__chars-checkbox-label">Обязательное заполнение характеристики</label>
                </div>
                </div>
                <div class="add-good-popup__chars-group-wrapper">
                <div class="add-good-popup__chars-group-row">
                    <p class="add-good-popup__chars-group-row-title">Характеристики</p>
                    <button type="button" class="site-section__search-btn" x-on:click="searchBtnDropdown = !searchBtnDropdown">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M25 25L17 17M19.6667 10.3333C19.6667 15.488 15.488 19.6667 10.3333 19.6667C5.17868 19.6667 1 15.488 1 10.3333C1 5.17868 5.17868 1 10.3333 1C15.488 1 19.6667 5.17868 19.6667 10.3333Z" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg>           
                    </button>
                    <div class='site-section__search-btn-dropdown' x-bind:class="{'active': searchBtnDropdown === true}">
                        <input type="text" class="site-section__search-btn-dropdown-search-input">
                        <ul role="list" class="site-section__search-btn-dropdown-list">
                            <li class="site-section__search-btn-dropdown-list-item">
                                <input readonly class="site-section__search-btn-dropdown-list-item-input" value="Результат поиска" x-on:click="searchBtnDropdown = false">
                            </li>
                                <li class="site-section__search-btn-dropdown-list-item">
                                    <input readonly class="site-section__search-btn-dropdown-list-item-input" value="Документы" x-on:click="searchBtnDropdown = false">
                                </li>
                        </ul>
                    </div>
                <div class="add-good-popup__add-chars-btn-wrapper" x-data="{toggleDropdown: false}" x-on:click.outside="toggleDropdown = false">
                    <button type="button" class="btn btn--primary add-good-popup__add-chars-btn" x-on:click="toggleDropdown = !toggleDropdown">Добавить</button>
                    <div class="add-good-popup__add-chars-dropdown" x-bind:class="{'active': toggleDropdown === true }">
                        <input type="text" class="add-good-popup__add-chars-dropdown-search-input" placeholder="Введите текст для поиска">
                        <ul role="list" class="add-good-popup__add-chars-dropdown-list">
                           <li class="add-good-popup__add-chars-dropdown-list-item">
                             <input type="text" class="add-good-popup__add-chars-dropdown-list-item-input" readonly value="Климатическое исполнение" x-on:click='toggleDropdown = false;lists.push("Климатическое исполнение")'>
                           </li>
                           <li class="add-good-popup__add-chars-dropdown-list-item">
                            <input type="text" class="add-good-popup__add-chars-dropdown-list-item-input" readonly value="Цвет" x-on:click='toggleDropdown = false; 
                            lists.push("Цвет")
                            '>
                          </li>
                          <li class="add-good-popup__add-chars-dropdown-list-item">
                            <input type="text" class="add-good-popup__add-chars-dropdown-list-item-input" readonly value="Объем масла" x-on:click='toggleDropdown = false; 
                            lists.push("Объем масла")
                            '>
                          </li>
                        </ul>
                        <button type="button" class="add-good-popup__add-chars-dropdown-create-btn">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.99984 1.16797V12.8346M1.1665 7.0013H12.8332" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                        
                            Создать
                        </button>
                    </div>
                </div>
                </div>
                <AddGoodPopupTableChars></AddGoodPopupTableChars>
                </div>
            </fieldset> 
        </div>
    <ul role="list" class="popup__btn-control-group add-good-popup__btn-control-group">
      <li class="popup__btn-control-group-item add-good-popup__btn-control-group-item">
          <button type="button" class="btn btn--flat popup__undo-btn add-good-popup__undo-btn" x-on:click="addGoodPopup = false">
              Отменить
          </button>
      </li>
      <li class="popup__btn-control-group-item add-good-popup__btn-control-group-item">
          <button type="button" class="btn btn--primary popup__save-btn add-good-popup__save-btn">
              Сохранить
          </button>
      </li>
    </ul>
    </div>
</div>
</form>
</div>

<script is:inline>
    document.addEventListener('alpine:init', () => {
      Alpine.data('dropInputFiler', () => ({

        handleFiles() {
          const fileInput = document.querySelector('.add-good-popup__attach-files-input');
          const files = fileInput.files;
          const fileList = document.querySelector('.add-good-popup__attach-files-list');

          [...files].forEach((file, index) => {
            fileList.insertAdjacentHTML('beforeEnd', 
            `
          <li class="site-section__attach-files-list-item add-good-popup__attach-files-list-item" x-ref="addGoodPopupAttachFilesListItem${index}">
                        <div class="site-section__attach-files-card add-good-popup__attach-files-card">
                        <img src="/images/attach-files-placeholder.png" alt="attach files image" class="site-section__attach-files-list-item-img add-good-popup__attach-files-list-item-img" loading="lazy" decoding="async">
                        <div class="site-section__attach-files-list-item-info add-good-popup__attach-files-list-item-info">
                            <p class="site-section__attach-files-list-item-title add-good-popup__attach-files-list-item-title">${file.name}</p>
                            <p class="site-section__attach-files-list-item-size-format add-good-popup__attach-files-list-item-size-format">
                                ${file.size} КБ <span>${file.type}</span> 
                            </p>
                        </div>
                        <div class="site-section__attach-files-list-item-controls add-good-popup__attach-files-list-item-controls desktop">
                            <button type="button" class="site-section__attach-files-list-item-add-btn add-good-popup__attach-files-list-item-add-btn">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.99967 1.33203V10.6654M1.33301 5.9987H10.6663" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>    
                            </button>
                            <button type="button" class="site-section__attach-files-list-item-download-btn add-good-popup__attach-files-list-item-download-btn">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.66699 10.3346V11.668C1.66699 12.0216 1.80747 12.3607 2.05752 12.6108C2.30756 12.8608 2.6467 13.0013 3.00033 13.0013H11.0003C11.3539 13.0013 11.6931 12.8608 11.9431 12.6108C12.1932 12.3607 12.3337 12.0216 12.3337 11.668V10.3346M3.66699 6.33464L7.00033 9.66797M7.00033 9.66797L10.3337 6.33464M7.00033 9.66797V1.66797" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>      
                            </button>
                            <button type="button" class="site-section__attach-files-list-item-delete-btn add-good-popup__attach-files-list-item-delete-btn" x-on:click="$el.closest('.add-good-popup__attach-files-list-item').remove()">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 1L1 9M1 1L9 9" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                            </button>
                        </div>
                        </div>
                        <div class="site-section__attach-files-list-item-controls add-good-popup__attach-files-list-item-controls mobile">
                            <button type="button" class="site-section__attach-files-list-item-add-btn add-good-popup__attach-files-list-item-add-btn">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 1V17M1 9H17" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>        
                            </button>
                            <button type="button" class="site-section__attach-files-list-item-download-btn add-good-popup__attach-files-list-item-download-btn">
                                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 14V16C1 16.5304 1.21071 17.0391 1.58579 17.4142C1.96086 17.7893 2.46957 18 3 18H15C15.5304 18 16.0391 17.7893 16.4142 17.4142C16.7893 17.0391 17 16.5304 17 16V14M4 8L9 13M9 13L14 8M9 13V1" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>        
                            </button>
                            <button type="button" class="site-section__attach-files-list-item-delete-btn add-good-popup__attach-files-list-item-delete-btn" x-on:click="$refs.addGoodPopupAttachFilesListItem${index}.remove()"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L1 15M1 1L15 15" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </li>
          `
            )
          });
        }
      }))
   })
  </script>